@font-face {
  font-family: "iconfont"; /* Project id 4375129 */
  src: url('//at.alicdn.com/t/c/font_4375129_vl0rngficpi.woff2?t=1702632758064') format('woff2'),
       url('//at.alicdn.com/t/c/font_4375129_vl0rngficpi.woff?t=1702632758064') format('woff'),
       url('//at.alicdn.com/t/c/font_4375129_vl0rngficpi.ttf?t=1702632758064') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-jiweijiu-01:before {
  content: "\e619";
}

.icon-mianhuatang-01:before {
  content: "\e621";
}

.icon-nailao-01:before {
  content: "\e624";
}

.icon-shousi-01:before {
  content: "\e62d";
}

.icon-tangguo-01:before {
  content: "\e630";
}

.icon-tiantianquan-01:before {
  content: "\e633";
}

.icon-xuegao-01:before {
  content: "\e635";
}

.icon-sanmingzhi-01:before {
  content: "\e605";
}

.icon-bangbangtang-01:before {
  content: "\e606";
}

.icon-baozi-01:before {
  content: "\e607";
}

.icon-baomihua-01:before {
  content: "\e608";
}

.icon-bingqilin-01:before {
  content: "\e609";
}

